@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-primary: #333;
  --color-text-secondary: #858480;

  --color-gt: #E6252A;
  --color-vg: #443DF6;
  --color-ixd: #FB8B24;
  --color-artun: #00D2A0;
}

* {
  box-sizing: border-box;
}

html, body {
  background-color: #F2F1EF;
  margin: 0;
}

body {
  font-family: var(--font-main);
  color: var(--color-text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

em {
  font-family: var(--font-serif);
}

a, button {
  text-decoration: underline;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul {
  padding-inline-start: 0;
}
