@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark: #333;
  --color-dark-gray: #666;
  --color-dark-gray-hover: #777;

  --color-gt: #E6252A;
  --color-vg: #443DF6;
  --color-ixd: #FB8B24;
  --color-artun: #00D2A0;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: var(--font-main);
  color: var(--color-dark);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

em {
  font-family: var(--font-serif);
}

a, button {
  text-decoration: underline;
  color: inherit;
}

ul {
  padding-inline-start: 0;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
