.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
  max-width: 816px;
  padding: 32px;
  margin: 0 auto;
  margin-bottom: 128px;
}

.backLink {
  font-size: 16px;
  position: absolute;
  left: -128px;
  top: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 64px;
  text-decoration: none;
  font-weight: normal;
  color: #858480;
  transition: color .075s;

  @media screen and (max-width: 1024px) {
    position: relative;
    left: 0;
  }

  &:hover {
    color: #333;
  }
}

.title {
  position: relative;
  margin-top: 128px;
  font-size: 64px;
  line-height: 64px;
  font-weight: bold;

  h1 {
    display: inline;
  }

  .description {
    color: #858480;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 16px;
  grid-auto-flow: dense;

  &:before {
    content: '';
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  :nth-child(2) {
    grid-row: span 2;
  }

  :nth-child(3) {
    grid-row: span 2;
  }

  :first-child {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }
}

section.contact {
  color: #858480;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;

  .bold {
    color: #333;
    font-weight: bold;
  }
}

.hook {
  color: #858480;
}

.projectDescription {
  h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 16px;

    &:not(:first-child) {
      margin-top: 32px;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  img {
    margin: 8px 0;
  }

  .postIts {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;

    li {
      color: #333;
      background-color: #ffc;
      display: block;
      height: 160px;
      width: 160px;
      padding: 16px;
      box-shadow: 4px 4px 8px #858480;
    }
  }
}
