.gt {
  text-decoration-color: var(--color-gt);
}

.ixd {
  text-decoration-color: var(--color-ixd);
}

.artun {
  text-decoration-color: var(--color-artun);
}

.vg {
  text-decoration-color: var(--color-vg);
}
