.card {
  text-decoration: none;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  justify-content: space-between;
  gap: 16px;
  transition: transform 0.075s ease-in-out;

  .title {
    font-weight: bold;
  }

  .iconWrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &:hover, &:focus {
    cursor: pointer;
    transform: scale(102%);
    box-shadow: 0 0 16px rgba(51, 51, 51, .2);
  }
}
